.vscode/
example_data
autorepair_scripts/example_data*
autorepair_scripts/example_data
*.csv
*.json
# GPT*
autorepair_scripts/o1_data
autorepair_scripts/o1_data_copy
autorepair_scripts/o1_data_copy2
autorepair_scripts/o1_data_copy3
autorepair_scripts/o1_leanworkbook
autorepair_scripts/o1_data_remain/
autorepair_scripts/o1_leanworkbook_copy/
autorepair_scripts/o1_leanworkbook_informal_to_formal/
autorepair_scripts/o1_numina_COT/
autorepair_scripts/sonnet_numina_COT/
autorepair_scripts/sonnet_numina_COT_batch/
autorepair_scripts/sonnet_numina_COT_batch_large_scale/
autorepair_scripts/sonnet_numina_COT_batch_large_scale2/
results/
uonfigs/
meta_run/
configs/leanworkbook_inference/
GPT/O1_for_MiniF2FValidation.py
wandb/
models/
log/
mathlib4_my/
datasets
slurm-*
__pycache__/
logs/
mathlib4/
GPT/V3

eval_results/

substep_prover_training_data/create_bench_minif2f_o1
substep_prover_training_data/create_bench_minif2f_sonnet
substep_prover_training_data/create_training_data_sonnet
substep_prover_training_data/create_training_data_sonnet2